# temp files
**/__pycache__/
**/.ipynb_checkpoints
**/.vscode
lightning_logs
output
wandb

# dependency files
adai
fmix

# docs image
output_sample.png

# trainer & test runner
test.ipynb
trainer.py
training_with_trainer.ipynb
